<div id="role-options-<%= user.id %>" class="modal fade" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= simple_form_for user, url: roles_user_path(user), html: {method: :put, class: 'form-horizontal' } do |f| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Change Role</h4>
          </div>

          <div class="modal-body">
            <p>
              <%= f.input :role_ids, collection: roles, as: :check_boxes, label_method: lambda {|t| t.name.titleize}, label: false %>
            </p>
          </div>
          <div class="modal-footer">
    <%#= f.submit "Change Role", class: "btn-primary" %>
            <button type="submit" class="btn btn-primary">Change Role</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>

